{% extends "base.html" %}
{% block title -%}
{{ super() -}}
   -{{ category.name }}
{% endblock %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block current_page_style %}
		<style type="text/css">
			body{
				margin:0;
				padding-top: 70px;
				background: #fff;
			}
            h1{font-size: 24px;}
            h2{font-size: 18px;}
            h3{font-size: 14px;}
			.navbar-default{
				/* background: #505050; */
			}
			nav .dropdown-menu{
				border: 0;
				background: rgba(125,125,125,40);
				opacity: 0.9;
				
			}
			nav .dropdown-menu>li>a{
				border: 0;
				opacity: 30%;
				color: #E0E0E0;
				
			}
			.main{
				min-height: 800px;
				color: #666;
			}
			.media {
				margin-bottom: 2em;
				padding-bottom: 1.5em;
				border-bottom: 1px #ececec solid;
				
			}
			.media-body{
				line-height: 1.5em;
				font-size:1.1em;
			}
			.media-body h4{
				font-size: 20px;
				margin-bottom: 15px;
				
			}
			.submenu li{
				list-style: none;
				margin-left: 15px;
				border: 0;
			}
		</style>
{% endblock %}


{% block content %}
		<div class="container-fluid clearfix">
			<div class="row">
				<div class="col-md-2">
{% include "course/_left_menu.html" %}
					
				</div>
				<div class="col-md-8 main">
                    {% include 'course/_crumbs.html' %}
                    {% for course in courses %}
					<div class="media">
						<div class="media-left" style="display:none">
							<a href="{{ url_for('course.show_course', category_id=course.category_id, course_id=course.id) }}">

							</a>
						</div>
						<div class="media-body">
                            <h4 class="media-heading"><a href="{{ url_for('course.show_course', category_id=course.category_id, course_id=course.id) }}">{{ course.title }}</a></h4>
							{{ course.intro|safe }} <a href="{{ url_for('course.show_course', category_id=course.category_id, course_id=course.id) }}">了解更多&gt;&gt;</a>
						</div>
					</div>

                    {% endfor %}
                    {% if courses and pagination.pages>1 %}
                        <div class="page-footer">{{ render_pagination(pagination) }}</div>
                    {% endif %}

				</div>

			</div>
		</div>
{% endblock %}




	</body>
	
</html>
