{% extends "base.html" %}
{% block title %}
    修改密码
{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
<h1>修改密码</h1>
<p>修改密码需要使用旧密码确认修改权限</p>
{% if form.new_password.help_text %}
    <div class="text-left" style="margin-left:400px">
     <p>{{ form.new_password1.help_text|safe }}</p>
    </div>
{% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {{ form.old_password.label_tag }}
            </label>
            <div class="col-md-6 text-left">
                {{ form.old_password }}
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-md-5 control-label text-right">
                {{ form.new_password1.label.tag }}
            </label>
            <div class="col-md-6 text-left">
                {{ form.new_password1 }}
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-md-5 control-label text-right">
                {{ form.new_password2.label.tag }}
            </label>
            <div class="col-md-6 text-left">
                {{ form.new_password2 }}
            </div>
        </div>
        <input type="submit" value="修改密码" class="btn btn-default btn-lg">
    </form>
</div>
{% endblock %}