<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <hr >
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.js') }}" type="text/javascript" charset="utf-8"></script>

        <script src="{{  url_for('static', filename='js/left_menu.js') }}" type="text/javascript" charset="utf-8"></script>

        <div class="container text-center">
            板权所有&copy;2019平哥编程 powered by XP-CMS2.0(flask)
        </div>
    </div>
</footer>